.geri-btn{
    width: 200px;
    height: 20px;
    border: 1px solid darkblue;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
}
.detay-btn{
    border: 1px solid red;
    border-radius: 5px;
    background-color: darkred;
    color: white;
    margin-left: 5px;
}
.add-cart{
    border: 1px solid green;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
    margin-left: 5px;
}