body{
    background-color: lightgray;
}
.div-top{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: darkgray;
    text-align: right;
    vertical-align: middle;
    z-index: 1000;
    padding-right: 20px;
    padding-top: 20px;
    
}
.profile-img{

    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 15px;   
}

