.card{
    border: 2px solid black;
    border-radius: 5px;
    width: 20%;
    height: 150px;
    text-align: center;
}
button{
    margin-top: 15px;
    background-color: darkgreen;
    color: white;
    border: 1px solid darkgreen;
    border-radius: 5px;
}