div{
    font-size: 20px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: darkkhaki;
    
}
.router-div{
    position: relative;
    display: inline-block;
    width: 900px;
    height: 400px;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
}
.login-div{
    position: fixed;
    display: inline-block;
    width: 400px;
    height: 300px;
    margin-left: 60px;
    margin-top: 10px;
    padding-left: 10px;
}
.active{
    color: white;
}
