div{
    font-size: 18px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: darkkhaki;
    
}
.router-div{
    position: relative;
    display: inline-block;
    width: 900px;
    height: 650px;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
}
.login-div{
    position: fixed;
    display: inline-block;
    width: 400px;
    height: 300px;
    margin-left: 60px;
    margin-top: 10px;
    padding-left: 10px;
}
.cart-div{
    position: fixed;
    width: 400px;
    height: 300px;
    display: inline-block;
    margin-top: 350px;
    margin-left: 60px;
    padding-left: 10px;
}
.active{
    color: white;
}

button{
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightblue;
    color: white;
    margin: 10px;
}
a{
    text-decoration: none;
}