table {
    border: 1px solid white;
    width: 100%;
    height: 20vh;
   border-radius: 10px;
   border-collapse: collapse;
}
th{
    border-bottom: 1px solid gray;
    text-align: center;
}
td{
    border-bottom: 1px solid gray;
}
tr:hover{
    background-color: gray;
}
.div-right{
    width: 350px;
    height: 30vh;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 15px;
    position: fixed;
    top: 80px;
    right: 0px;
}